  <div class="navbar-fixed">
    <nav>
       <div class="nav-wrapper">
         <div class="brand-logo logo-image" [routerLink]="['./']"></div>
         <a  data-target="sidenav" class="sidenav-trigger hoverable"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down list blue-text">
           <li><a [routerLink]="['../']">Home</a></li>
           <li><a class="dropdown-trigger" data-target="service-dropdown">Services</a></li>
           <li><a>Blogs</a></li>
            <li><a> About Us</a></li>
         </ul>
       </div>
     </nav>
  </div>

  <ul class="sidenav" id="sidenav">
    <li><a >Home</a></li>
    <li><a [routerLink]="['/solar']">Services</a></li>
    <li><a href="collapsible.html">Blogs</a></li>
  </ul>

  <ul id="service-dropdown" class="dropdown-content white-text">
    <li><a class="white-text" [routerLink]="['/solar']">Solar Service</a></li>
    <li><a class="white-text" [routerLink]="['/generator']">Generator Service</a></li>
 </ul>
