
.nav-wrapper {
  padding-left: 2rem;
  padding-right: 2rem;
}

nav {
  background-color: white;
}

nav ul li a{
  font-family: 'Lato', sans-serif;
}


.blue-text li a {
  color: #232330;
}

// .brand-logo img {
//   max-width: 10rem;
//   max-height: 10rem;
//   position: absolute;
// }

.logo-image {
  width: 15rem;
  height: 5rem;
  margin-top: -8px;
  background-image: url('/assets/images/logo.png');
  background-position: center;
  background-size: cover;
  z-index: 1;
}

.nav-wrapper .list{
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 12px;
}

.sidenav li{
  cursor: pointer;
}


.sidenav-trigger {
  cursor: pointer;
  width: 40px;
  color: #232330;
  margin-left: 1rem;
  margin-right: 1rem;
}

.sidenav-trigger i {
  text-align: center;
}

.dropdown-content li {
}

#service-dropdown {
  background-color: #232330;
}
