
.nav-wrapper {
  background: linear-gradient(118.86deg, #232A30 0%, #2A2330 83.48%);
  padding-left: 2rem;
  padding-right: 2rem;
}

.nav-wrapper .list{
  font-family: 'Roboto Condensed', sans-serif !important;
  font-size: 12px;
}

.sidenav li{
  cursor: pointer;
}


.sidenav-trigger {
  cursor: pointer;
  width: 40px;
}

.sidenav-trigger i {
  text-align: center;
}

#quoteButton {
  border-radius: 8px;
  border:3px solid #ffffff;
  font-size: 12px;
  color:#ffffff;
  background-color: transparent;
}

#quoteButton:hover {
  background-color: white;
  color: #232330;
}

#service-dropdown {
  background-color: #232330;
}
