<footer class="footer center">
    <div class="row contentBox">

      <div class="col s12 m4">
        <h6>Contact Us</h6>
        <p><i class="material-icons">local_phone</i>+92 331 1418899</p>
        <p><i class="material-icons">email</i> Elektropowerpk@gmail.com</p>
      </div>

      <div class="col s12 m4">
        <div class="brand-logo logo-image"></div>
        <p>Started in 2008, with one mission in mind: “Providing the most reliable power systems solutions”. Our CEO, Mr. Kamran has always held up to the company’s core values, keeping reliability and trust at the forefront of our services. From generator services to solar energy, we use the best available power systems to provide better living in Pakistan.</p>
      </div>

      <div class="col s12 m4">
        <h6>Information</h6>
        <ul>
          <li routerLink="/about">About Us</li>
          <li>Blog</li>
          <li (click)="navigateToTestimonial()">Testimonials</li>
        </ul>
      </div>

    </div>
</footer>
