.footer {
  background-color: #232330;
  min-height: 300px;
  color: #E2E2E9;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 12px;
}

.footer p {
  color: #847979;
}

.footer li {
  margin-bottom: 1rem;
  color: #8F8FF9;
}
