.footer {
  background-color: #f0f0f4;
  color: #232330;
  font-size: 12px;
  bottom: 0px;
  padding: 2rem;

  h6 {
    margin-bottom: 1rem;
  }

  .contentBox {
     margin: 0 auto;

    div:nth-child(2) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     }
  }

}


.logo-image {
  width: 15rem;
  height: 5rem;
  background-image: url('/assets/images/logo.png');
  background-position: center;
  background-size: cover;
}


@media only screen and (max-width: 600px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer p {
  color: #847979;
}


.material-icons {
  display:inline-flex;
  vertical-align: middle;
  margin-right: 1rem;
}

.footer li {
  margin-bottom: 1rem;
  color: #8F8FF9;
  cursor: pointer;
}
