.footer {
  background-color: #232330;
  color: #E2E2E9;
  padding: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  font-size: 12px;
  bottom: 0px;
}

@media only screen and (max-width: 600px) {
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.footer p {
  color: #847979;
}

.footer li {
  margin-bottom: 1rem;
  color: #8F8FF9;
}
