<footer class="footer center">
    <div class="row contentBox">

      <div class="col s12 m4">
        <h6>Contact Us</h6>
        <p><i class="material-icons">local_phone</i>+90123321123</p>
        <p><i class="material-icons">email</i> Elektropowerpk@gmail.com</p>
      </div>

      <div class="col s12 m4">
        <div class="brand-logo logo-image"></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>

      <div class="col s12 m4">
        <h6>Information</h6>
        <ul>
          <li routerLink="/about">About Us</li>
          <li>Blog</li>
          <li>Testimonials</li>
        </ul>
      </div>

    </div>
</footer>
