  <div class="title">
    About Us
  </div>

  <section>
    <div class="container">
      <div class="subheading">Origin</div>
      <blockquote class="text">
        ElektroPower was started back in 2008, with one mission in mind: “Providing the most reliable power systems solutions”. Our CEO, Mr. Kamran has always held up to the company’s core values, keeping reliability and trust at the forefront of our services.
        From 2008 onwards, ElektroPower provided generator services - from sale to maintenance - to both residential and commercial clients. Mr. Kamran saw huge success in the servitude of the Pakistani people, knowing that one of the biggest problems in Pakistan at that time was loadshedding. Since then, many happy customers have been able to get rid of their loadshedding problems with the help of Mr. Kamran.
      </blockquote>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="subheading">Innovation</div>
      <blockquote class="text">
        In recent years, our CEO has seen a shift in Pakistan’s conditions. Loadshedding problems are not as bad as they used to be, but electricity prices have gone up. Not only that, global crises like the COVID-19 pandemic has made incomes lower and bills more painful. If only there was a way to have a stable, reliable and cheap source of electricity…
        Luckily, ElektroPower has found just that. The use of solar energy is on the rise all around the globe, especially in Pakistan. Solar panels are a secure investment which cater to all of your electricity needs and reduce your electricity bills to 0!
        ElektroPower now provides SolarPanel installation as its main service. And not just that, we provide it at the most affordable prices while still maintaining our initial core value: “Reliability and Trust”.
      </blockquote>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="subheading">Future</div>
      <blockquote class="text">
        Our company has a vision, which is “to become a symbol of reliable energy solutions which lead to an empowered life”. As 2020 goes by, we promise to all of our future customers that we shall strive for our vision as long as we have to, and reach it no matter what.
        Are you ready to own your electricity?
      </blockquote>
    </div>
  </section>
