.container {
  margin-top: 5rem;
}

.btn {
  background-color: #232330;
}

.price {
  color: #232330;
  font-size: 24px;
  margin: 2rem;
  text-align: center;

  span {
    font-size: 16px;
  }
}



.calculatorStripBox {
  background: rgb(35,35,48);
  background: linear-gradient(90deg, rgba(35,35,48,1) 0%, rgba(63,63,133,1) 43%, rgba(98,144,153,1) 100%);
  padding: 2rem;
  color: #F0F0F4;
  font-size: 24px;
}

.heading {
  font-size: 36px;
  height: auto;
}

.selectionInput {
 display: flex;
 align-items: center;
 justify-content: center;
}

mat-form-field {
  width: 20rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: 0.3s;
  cursor: pointer;
}

.card .card-title {
  text-align: center;
  color: #A7A7BE;
}

.card .card-content {
  font-size: 16px;
}

.card .features li {
  margin-top: 1rem;
  text-align: center;
}

.material-icons {
  display:inline-flex;
  vertical-align: middle;
  margin-right: 1rem;
}

.ribbon {
  content: " ";
  width: 4rem;
  height: 4rem;
  clip-path: polygon(57% 0, 100% 0%, 0 100%, 0 57%);
}

.bronze {
  background-color: #cd7f32;
}

.silver {
  background-color: #C0C0C0;
}

 .gold {
  background-color: #D4AF37;
}

.additionalFeatures {
  background-color: #F0F0F4;
  color: #232330;
  padding: 1rem;
  font-size: 16px;
  margin: 1rem;
}

.additionalFeatures li {
  margin-top: 1rem;
}

.calculatorReminder {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.calculatorReminder button {
  left: 0px;
  width: 100%;
}

.card-panel {
  max-width: 20rem;
}
