<section id="firstSection" class="sectionContainer">
  <div class="container" id="firstContainer">
    <div class="bigHeading">
      <p>Company Name Here</p>
    </div>
    <div class="heading">
      <p>test</p>
    </div>
    <div class="buttonWrapper">
      <div class="lightButton" style="max-width: 50%;">Get Quote</div>
    </div>
  </div>
</section>

<section id="featureSection" class="sectionContainer">
  <div class="container">
    <div id="title">
      <div class="heading">Lorem ipsum dolor sit amet conse</div>
      <div class="darkButton">Solution</div>
    </div>
    <div class="row" id="cardContainer">
      <div class="displayBox col s12 m4">
          <div class="card">
            <div class="card-content ">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
      </div>
      <div class="displayBox col s12 m4">
        <div class="card">
          <div class="card-content ">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
      <div class="displayBox col s12 m4">
        <div class="card">
          <div class="card-content ">
            <span class="card-title">Card Title</span>
            <p>I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="callToActionSection" class="sectionContainer">
  <div class="container">
      <div class="heading">Lorem ipsum dolor sit amet conse</div>
      <div class="buttonWrapper">
        <div class="lightButton">Solution</div>
      </div>
  </div>
</section>

<div id="historySection" class="sectionContainer">
  <div class="">
     <div class="row">
         <div class="textContainer col s12 m6">
           <div class="textBox">
             <div class="heading">Lorem ipsum dolor sit amet</div>
             <div class="normalText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin, enim interdum vulputate luctus, dolor purus semper dui, eu placerat lorem leo vel purus. Vestibulum vel lobortis mi.</div>
             <div class="darkButton" style="margin-top: 2rem;">About Us</div>
           </div>
         </div>
         <div class="pictureDisplay col s12 m6">
           <div class="row" id="imageContainer">
             <div class="col s12 m6" id="imageDisplay1"></div>
             <div class="col s12 m6"id="imageDisplay2"></div>
           </div>
         </div>
     </div>
  </div>

</div>

<section id="testimonialSection" class="sectionContainer">
    <div class="container">
      <div class="bigLabel">What our client say.</div>
      <app-testimonial></app-testimonial>
    </div>
</section>

<section id="partnerSection" class="sectionContainer">
  <div class="bigLabel">
    Our Partners
  </div>
</section>
