
/* general class below */
.parentContainer {
  // scroll-snap-type: y mandatory;
  // overflow-y: scroll;
  height: 100vh;
}


.sectionContainer {
  // scroll-snap-align: start;
  padding: 2rem;
  padding-top: 3rem;
}

#carousel-prev, #carousel-next {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 margin-bottom: 10rem;
 height: 8rem;
 width: 5rem;
 font-size: 72px;
 background-color: transparent;
 color: white;
 opacity: 0.3;
 transition-property: opacity;
 transition: all .2s ease;
}

@media only screen and (max-width: 600px) {
  #carousel-next, #carousel-prev {
    height: 5rem;
    width: 2rem;
    font-size: 36px;
  }
}

#carousel-prev {
  clip-path: polygon(0 0, 70% 10%, 70% 90%, 0 100%);
}

#carousel-next {
  clip-path: polygon(30% 10%, 100% 0, 100% 100%, 30% 90%);
}

#carousel-prev:hover, #carousel-next:hover {
  opacity: 1;
}

.textBox {
  max-width: 30em;
}

.bigHeading {
  font-size: 72px;
  color: white;
  text-align: center;
  display: block;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}
.buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.buttonWrapperLeft {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
}
/* first section ===================================> */

#firstSection {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
#firstSection .buttonWrapper {
  margin-top: 20px;
  z-index: 2;
}
#firstSlide {
  background: linear-gradient(0deg, rgba(28, 28, 28, 0.75), rgba(28, 28, 28, 0.75)) , url('/assets/images/solarHouse.jpg');
  padding: 4rem;
}
#firstSlide .heading {
  color: white;
}
#secondSlide{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f0f0f4;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='117' height='117' viewBox='0 0 200 200'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='100' y1='33' x2='100' y2='-3'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='100' y1='135' x2='100' y2='97'%3E%3Cstop offset='0' stop-color='%23000' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23000' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23cccccf' fill-opacity='0.09'%3E%3Crect x='100' width='100' height='100'/%3E%3Crect y='100' width='100' height='100'/%3E%3C/g%3E%3Cg fill-opacity='0.09'%3E%3Cpolygon fill='url(%23a)' points='100 30 0 0 200 0'/%3E%3Cpolygon fill='url(%23b)' points='100 100 0 130 0 100 200 100 200 130'/%3E%3C/g%3E%3C/svg%3E");
}
#thirdSlide {
  background: linear-gradient(0deg, rgba(28, 28, 28, 0.75), rgba(28, 28, 28, 0.75)) , url('/assets/images/office.jpg');
}
#firstSlide, #thirdSlide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
  #firstSection {
    padding: 1rem;
  }
  #firstSection .heading {
    font-size: 36px;
  }
}

/* second section =====================================>*/
#featureSection.sectionContainer {
  padding: 0px;
}
#featureSection {
  padding-top: 4rem;
}
#featureSection .heading {
  color: #232330;
  display: inline-block;
  font-size: 36px;
  font-weight: bold;
}
#featureSection .subheading {
  color: #232330;
  font-size: 24px;
}
#featureSection .darkButton {
  float: right;
}
#featureSection .card {
  box-shadow: none;
  border-bottom-style: solid;
  border-bottom-color: #CF1C0D;
  border-bottom-width: 4px;
  max-width: 20rem;
}
#title {
  padding-left: 2rem;
  background-color: #F0F0F4;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
#featureSection i {
  color: #CF1C0D;
  align-self: center;
}
#cardContainer {
  margin-top: 6rem;
  margin-left: 6rem;
}
@media only screen and (max-width: 600px) {
  #cardContainer {
    margin: 2rem;
  }
}
/* call to action section =============================>*/
#callToActionSection.sectionContainer {
  min-height: 0px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#callToActionSection .container {
 align-self: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
}
#callToActionSection .subheading {
  color: white;
  width: 35em;
  align-self: center;
  text-align: center;
}
#callToActionSection .normalText {
  color: white;
  font-size: 18px;
  margin: 1rem;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  #callToActionSection .subheading {
    font-size: 16px;
    width: auto;
  }
}
/* history section =============================> */

#historySection {
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 95vh;
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F0F4 100%);
}

#historySection .textContainer {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
}

#imageContainer p {
  visibility: hidden;
  padding: 6px;
  display: flex;
  flex-wrap: wrap;
  max-width: 18rem;
  font-size: 16px;
  background-color: black;
  opacity: 0.8;
  color: white;
  position: absolute;
  margin-top: 80%;

  span {
    font-size: 20px;
    position: block;
  }
}

#imageContainer div:hover {
  filter: grayscale(100%);
  p {
    visibility: visible;
  }
}

#imageDisplay1 {
  display: block;
  position: relative;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/DLR_engineer_working_on_a_free-piston_linear_generator.jpg");
  background-size: cover;
  background-position: -15rem;
  background-repeat: no-repeat;
  width: 300px;
  height: 500px;
  margin-top: -5rem;
  margin-right: 2rem;
  opacity: 0;
  transition: transform 4s .1s, opacity .3s .25s ease-out;
  will-change: transform, opacity;
}
 #imageDisplay1.is-visible {
  opacity: 1;
  transform: translateY(2rem);
}
#imageDisplay2 {
  display: block;
  background-image: url("https://constructionreviewonline.com/wp-content/uploads/2020/03/6f171658877132d636341ae58e8b7d33.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15rem;
  width: 300px;
  height: 500px;
  margin-top: 10rem;
  opacity: 0;
  transition: transform 5s .1s,
               opacity .3s .25s ease-out;
  will-change: transform, opacity;
}
#imageDisplay2.is-visible {
 opacity: 1;
 transform: translateY(-5rem);
}
#imageDisplayMobile1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/49/DLR_engineer_working_on_a_free-piston_linear_generator.jpg");
  background-size: cover;
  background-position: -15rem;
  background-repeat: no-repeat;
  height: 250px;
}
#imageDisplayMobile2 {
  background-image: url("https://constructionreviewonline.com/wp-content/uploads/2020/03/6f171658877132d636341ae58e8b7d33.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -15rem;
  height: 250px;
}

@media only screen and (max-width: 600px) {

  #historySection {
    height: auto;
  }

  #historySection .darkButton {
    width: 100%;
  }

  #historySection .textContainer {
    padding: 0;
    min-height: 0px;
    padding-left: 0px;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  #historySection .heading {
    font-size: 28px;
  }

  #historySection .pictureDisplay{
    margin-top: 1rem;
  }

  #imageContainer p {
    margin-top: 50%;
  }

}

/* testimonial section ========================================================> */

#testimonialSection .bigLabel {
  margin-top: 4rem;
  color: white;
}


.patternBackground {
 background-color: #bdbdbd;
 background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(157,683,331)'%3E%3Cstop offset='0' stop-color='%23bdbdbd'/%3E%3Cstop offset='1' stop-color='%2338384d'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='572' height='476.7' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.04'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
 background-attachment: fixed;
 background-size: cover;
}

@media only screen and (max-width: 600px) {

  #testimonialSection .bigLabel {
    margin-top: 4rem;
    color: #A7A7BE;
  }

  #testimonialSection .bigLabel {
    margin: 0;
  }
}

// form section ================================================================>

#quoteFormSection {
  background-color: #f0f0f4;
}

.blogPostsContainer {
  overflow-y: scroll;
}

@media only screen and (max-width: 600px) {
  #quoteFormSection {
    padding-left: 0;
    padding-right: 0;
  }
}

/* our partner section ============================>*/

#partnerSection {
  background: linear-gradient(180deg, #F0F0F4 0%, #FFFFFF 47.83%);
  padding: 0px;
  padding-top: 2rem;
}


#partnerSection .partnerImages {
  height: 300px;
  margin-bottom: 2rem;
  background-image: url('/assets/images/clients.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
