<div class="parentContainer">
    <section class="carousel carousel-slider center sectionContainer" id="firstSection">
      <div class="carousel-item" id="firstSlide">
        <div class="carousel-fixed-item">
          <a id="carousel-prev" class="btn waves-effect left" (click)=prevCarousel()> < </a>
          <a id="carousel-next" class="btn waves-effect right" (click)=nextCarousel()> > </a>
       </div>
        <div class="heading">Own Your Electricity</div>
        <div class="buttonWrapper">
          <div class="lightButton">Solutions</div>
        </div>
        </div>

      <div class="carousel-item" id="secondSlide">
        <div class="carousel-fixed-item">
          <a id="carousel-prev" class="btn waves-effect left" (click)=prevCarousel()> < </a>
          <a id="carousel-next" class="btn waves-effect right" (click)=nextCarousel()> > </a>
       </div>
        <div class="heading">Expertise in Power Systems for over a decade</div>
        <div class="subheading">Est. 2008</div>
        <div class="buttonWrapper">
          <div class="darkButton">Learn More</div>
        </div>
     </div>

     <div class="carousel-item amber white-text" id="thirdSlide">
       <div class="carousel-fixed-item">
         <a id="carousel-prev" class="btn waves-effect left" (click)=prevCarousel()> < </a>
         <a id="carousel-next" class="btn waves-effect right" (click)=nextCarousel()> > </a>
      </div>
       <div class="heading">How good is solar electricity in Pakistan?</div>
       <div class="buttonWrapper">
         <div class="lightButton">Read More</div>
       </div>
     </div>
    </section>



  <section id="featureSection" class="sectionContainer">
    <div class="">
      <div id="title" class="row">
        <div class="col s12 m10">
          <div class="heading ">Switching to Solar has never been easier!</div>
          <div class="subheading">Check our affordable packages now</div>
        </div>
        <div class="buttonWrapperLeft col s12 m2"><div class="darkButton">Packages</div></div>
      </div>
      <div class="row" id="cardContainer">
        <div class="displayBox col s12 m4">
            <div class="card">
              <i class="large material-icons">beach_access</i>
              <div class="card-content ">
                <span class="card-title">All-Round Service</span>
                <p>Complete installation and maintenance provided for by a reliable team</p>
              </div>
            </div>
        </div>
        <div class="displayBox col s12 m4">
          <div class="card">
            <i class="large material-icons">lightbulb_outline</i>
            <div class="card-content ">
              <span class="card-title">Variety</span>
              <p>150W - 400W Panels<br>1KW - 10KW Inverter<br>Larger systems available at demand!</p>
            </div>
          </div>
        </div>
        <div class="displayBox col s12 m4">
          <div class="card">
            <i class="large material-icons">vpn_key</i>
            <div class="card-content ">
              <span class="card-title">Long Life</span>
              <p>25 Years of panel life with 10 Years warranty (1.5 years warranty for inverter)</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="callToActionSection" class="sectionContainer">
    <div class="container">
        <div class="subheading">In the middle of frequent power outages,
           and high electricity bills, ElektroPower brings you reliability and stability.
           With cheap prices yet an unflinching quality, we offer packages which provide the best solar
           solutions in Pakistan. It’s high time to switch to solar!
         </div>
         <div class="normalText">
           Click on the button below. Own your electricity.
         </div>
        <div class="buttonWrapper">
          <div class="lightButton">Solutions</div>
        </div>
    </div>
  </section>

  <div id="historySection" class="sectionContainer">
    <div class="">
       <div class="row">
           <div class="textContainer col s12 m6">
             <div class="textBox">
               <div class="heading">Power Systems experts for over a decade.</div>
               <div class="normalText">
                 We’ve been around for a while. We have in-depth knowledge of the ins and outs of the industry,
                  along with a strong ambition to solve your electricity problems.
               </div>
               <div class="buttonWrapperLeft">
                  <div class="darkButton" style="margin-top: 1rem;">About Us</div>
               </div>
             </div>
           </div>
           <div class="pictureDisplay col s12 m6">
             <div class="row" id="imageContainer">
               <div [ngClass]="{'col s6 hoverable': true, 'down-on-scroll': isDesktop}" id="{{ isDesktop ? 'imageDisplay1': 'imageDisplayMobile1'}}"></div>
               <div [ngClass]="{'col s6 hoverable': true, 'down-on-scroll': isDesktop}" id="{{ isDesktop ? 'imageDisplay2': 'imageDisplayMobile2'}}"></div>
             </div>
           </div>
       </div>
    </div>

  </div>

  <section id="testimonialSection" class="sectionContainer">
      <div class="container">
        <div class="bigLabel">What our clients say</div>
        <app-testimonial id="carouselContainer"></app-testimonial>
      </div>
  </section>

  <section id="quoteFormSection" class="sectionContainer">
   <div class="row">
     <div class="col s12 m6">
        <app-quote-form></app-quote-form>
     </div>
     <div class="col s12 m6 blogPostsContainer">
      <div class="bigLabel left">
        Blogs
      </div>
      <app-blog-list></app-blog-list>
     </div>
   </div>
  </section>

  <section id="partnerSection" class="sectionContainer">
    <div class="bigLabel">
      Our Partners
    </div>
    <div class="partnerImages"></div>
    <app-footer id="footer"></app-footer>
  </section>
</div>
