.card {
  padding: 4rem;
}

.bigLabel {
  color: #A7A7BE;
  font-size: 24px;
  margin-bottom: 2rem;
}

select option {
    color: #232330 !important;
}


/* label focus color */
.input-field input[type=email]:focus + label, .input-field input[type=text]:focus + label {
  color: #232330 !important;
}
/* label underline focus color */
.input-field input[type=email]:focus, .input-field input[type=text]:focus {
  border-bottom: 1px solid #232330 !important;
  box-shadow: 0 1px 0 0 #000;
}

/* label focus color */
.input-field input[type=tel]:focus + label {
  color: #232330 !important;
}
/* label underline focus color */
.input-field input[type=tel]:focus {
  border-bottom: 1px solid #232330 !important;
  box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=email].valid, input[type=tel].valid {
  border-bottom: 1px solid #8F8FF9;
  box-shadow: 0 1px 0 0 #000;
}


.darkButton {
	border-radius:16px;
	border:2px solid #232330;
	display:inline-block;
	cursor:pointer;
	color:#232330;
	font-family: 'Roboto Condensed', sans-serif;
	font-size:17px;
	padding:16px 31px;
  letter-spacing: 2px;
  transition-property: background-color, color;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
.darkButton:hover:enabled {
	background-color: #232330;
  color: #ffffff;
}

.darkButton:disabled{
  border-color: grey;
  color: grey;
  cursor: default;
}

.darkButton:active:enabled {
	position:relative;
	top:1px;
}
